<html ng-app="TestApp">
    <head>
        <title>Basic Express Config</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body ng-controller="MainController as vm">
        <h1 class="container">Hello
            {{ vm.name }}
        </h1>
        <script src="assets/js/app.js"></script>
    </body>
</html>
